:root {
  --red: #F05454;
  --blue: #6A7EFC;
  --black: #121212;
  --white: #F5F5F5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  padding-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--blue);
}

.header {
  background-color: var(--red);
  padding: 20px;
  display: flex;
}

.header>h1>a {
  text-decoration: none;
  color: var(--black);
}

.header>h1>a:hover {
  color: var(--blue);
}

.header>a {
  align-self: center;
}

.header>a>.githubLogo {
  width: 50px;
}

.header>a>.githubLogo:hover {
  /* become blue when hovering github logo */
  filter: invert(42%) sepia(44%) saturate(827%) hue-rotate(195deg) brightness(113%) contrast(98%);
}

.postContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(min-fit, min-content);
  row-gap: 10px;
  column-gap: 10px;
  margin: 20px;
}

.postBlock {
  background-color: var(--white);
  border-radius: 5px;
  padding: 20px;
  padding-top: 0px;
}

.postBlock>.postText {
  height: 300px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: break-spaces;
  border: 2px solid grey;
}

.postBlock>.postTitle {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  margin-block-start: 15px;
}

.userInfoContainer,
.postContent {
  display: grid;
  margin: 20px;
  grid-template-rows: min-content 1fr min-content;
  row-gap: 10px;
}

.userInfoContainer>.userName,
.postContent>.title {
  color: var(--white);
  margin-left: 30px;
}

.userInfoContainer>.bio,
.postContent>.postText {
  background-color: var(--white);
  border-radius: 10px;
  padding: 30px;
  min-height: 50vh;
  white-space: break-spaces;
  font-size: 18px;
  line-height: 25px;
}

.linkButton {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--white);
  border: none;
  margin-left: 30px;
}

.linkButton:hover {
  background-color: var(--blue);
  color: var(--white);
}

.postContent>.authorName {
  color: var(--white);
  margin-left: 10px;
  margin-top: 0;
  font-size: 18px;
}

.commentList {
  display: grid;
  margin: 20px;
  row-gap: 10px;
}

.commentBlock {
  background-color: var(--white);
  width: max(280px, 60vw);
  border-radius: 5px;
  padding: 10px;
}

.commentBlock>.authorName {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}

.commentBlock>.text {
  white-space: break-spaces;
  line-height: 20px;
}